{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%  static  'css/style.css'  %}">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>MyVibes</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid col-10">
            <a class="navbar-brand" href="/">MyVibes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            {% if user.is_authenticated %}
            <div class="nav-item dropdown d-flex">
                <span class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{user}}
                </span>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="account/signout">Signout</a></li>
                </ul>
            </div>
            {% else %}
            <ul class="navbar-nav d-flex">
                <li class="nav-item add-margin"><a href="account/signup" class="btn btn-link">Регистрация</a></li>
                <li class="nav-item add-margin"><a href="account/signin" class="btn btn-outline-light">Вход</a></li>
            </ul>
            {% endif %}
        </div>
    </nav>






    <div class="conteiner">
        {%for s in xox%}

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="media/{{s.image}}"  alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{s.name}}</h5>
                <a href="{{s.id}}" class="btn btn-outline-info mine">Смотреть</a>
            </div>
        </div>
        {%endfor%}
    </div>
    <script src="{% static 'js/audio.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>